.jumbotron {
  background-color: #06a3a3;
  color: white;
  margin-top: 15px;
  text-align: center;
}

#language {
  width: 100%;
}

#intro h4 {
  background-color: white;
}

.result{
  display: none;
  text-align: center;
}

body{
  background-color: black;
}

blockquote {
  text-align: center;
  margin-top: 10px;
}

#formOne {
  background-color: white;
}

.row img{
  padding:10px;
  height:90px;
}

#username {
  font-size: 100px;
  color: #09B1B2;
}

p {
  font-size: 20px;
  font-style: italic;
}

.panel-primary {
  margin:20px;
}

h3 {
  background-color:	#09B1B2;
  color: white;
}
