.jumbotron {
  background-color: #428bca;
  color: white;
  margin-top: 15px;
}

#language {
  width: 100%;
}

#intro h4 {
  background-color: white;
}

/*.result {
  display:none;
}*/

body{
  background-color: black;
}

blockquote {
  text-align: center;
  margin-top: 10px;
}

#formOne {
  background-color: white;
}

.result{
  text-align: center;
}

.row img{
  padding:10px;
}

.rowimage {
  height:150px;
}
